@use 'base/variables' as v;
@use 'base/mixins' as m;

.destinos {


    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include m.desktop {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.destino {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    &__imagen {
        width: 14rem;
        height: 14rem;
    }


    &__nombre,
    &__distancia  {
        margin: 0;
    }
}